p {
    font-size: 13px;
}

header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

} 


a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: roboto;
    margin: 5px;
    
}

a:hover {
    color: white;
    background-color: #ffbb42;
    
}

.intro {
    background: #709dca;
    margin: 0 auto;
    text-align: center;

}

.intro h1, p {
    font-family: roboto;
    color: white;
    text-transform: uppercase;

}

.intro h1 {
    padding-top: 100px;
}

form {
    margin: 60px;
}

input {
    height: 50px;
    width: 280px;
    margin: 10px;
    padding-left: 5px;
}

.btn {
    background-color: #ffbb42;
    color: white;
    height: 55px;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    font-family: lato;
    font-size: 14px;
    border: 0;
}



/* Our services */



h2 {
    margin-top: 150px;
    font-size: 30px
}

h3 {
    font-family: lato;
    font-size: 16px;
    color: black;

}

h2, h3 {
    
    color: black;
    text-transform: uppercase;
    font-family: roboto;
    text-align: center;
}

.services {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
    
}

.block {
    flex: 40%;
    margin-top: 60px;
    width: 100%;
    max-width: 500px;
    margin-left: 70px
   
    
}

.subtitle {
    text-align: center;
    color: black;
    font-size: 16px;
    margin-top: 0;
}

.block p, h3 {
    text-align: left;
    color: black;
    line-height: 22px;
    margin-top: 0;
}



.icon-service {
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 70px;
    
}




/* About us */

.about {
    background-color: #ffc155;
    margin: 0 auto;
    text-align: left;
    display: flex;

}

.about h2, p {
    color: white;
    line-height: 24px;
    
}

.about-text {
    width: 100%;
    max-width: 600px;
    margin-left: 50px 
    
}



.about img {
    max-width:100%;
    
}


/* Price */

.price {
    background-color: #e7edf3;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
    
}


.price p {
    color: black;
    font-size: 18px;
    text-transform: capitalize;
   
}


.price h2 {
    color: black;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    
}

.price-slider {
    display: flex;
    flex-wrap:wrap; 
    justify-content: center;
    
}

.basic {
    background-color: white;
    width: 370px;
    height: 440px;
    border: 1px solid #ccd5df;
    margin-top: 30px;
    
    
}


.premium {
    background-color: #719ec8;
    width: 370px;
    height: 500px;
    border: 1px solid #ccd5df;
    z-index: 1000;
}

.gold {
    background-color: white;
    width: 370px;
    height: 440px;
    border: 1px solid #ccd5df;
    margin-top: 30px;
}


.price-slider p {
    color: #b5bbc1;
}

.tarif {
    font-family: lato;
    font-size: 60px;
    color: #ffbb42;
}




/* How it works */

.work {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
   
}

.work p {
    color: black;
    font-size: 18px;
    text-transform: capitalize;
}

.work h3 {
    text-align: center;
    margin-top: 50px;
}

.steps {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.steps p {
    font-size: 13px;
    width: 200px;
    text-transform: capitalize;    
}


/* Happy clients */

.clients {
    background-color: #ffc155;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    
}

.clients h2, h3, p {
    font-family: roboto;
    color: white;
    text-transform: uppercase;
    
}

.clients p {
    font-size: 18px;
    text-transform: capitalize;
}
    
.reviews {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}     
    
.reviews .block {
    flex: 40%;
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    border: 1px solid #ccd5df;

}

.reviews p {
    font-size: 13px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 30px;
}

.reviews img {
    float: left;
    padding-right: 30px;
    padding-bottom: 50px;
    
}

.reviews .name {
    color: #f6772c;
    font-size: 14px;
}


/* Newsletter */

.newsletter {
    margin: 0 auto;
    text-align: center;
    
}

.newsletter p {
    font-size: 16px;
    color: black;
    text-transform: capitalize;
}



/* Address */

.prefooter {
    background: url(images/map.png) center no-repeat;
    height: 800px;
    margin-top: -100px;
    position: relative;
    display: flex;
    flex-direction: column;
        
}

.circle {
    background-color: #384b52;
    width: 280px;
	height: 280px;
    border-radius: 50%;
    position: relative;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle p {
    text-align: center;

}


/* Footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #d7dde4;
}
       
footer .nav {
    padding-bottom: 30px;
    padding-top: 50px;

}


.social img {
    padding: 10px;
    margin-bottom: 50px;
}

.phone {
    display: flex;
    justify-content: center;
   
}


.phone p {
    color: black;
    font-family: lato;
    font-size: 22px;
}

.copyright {
    width: 100%;
    background-color: #709dca;
    text-align: center;
}
